a>code{
    font-family: monospace;
    font-size:large;
    color: goldenrod;
}

.clib{
        font-family: monospace;
        font-size:large;
        color:cornflowerblue;
}

.nav_unactive:hover{
    color: goldenrod;
    font-weight: bold;
}